html {
  height: 100%
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#header, #main, #footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#main, #footer {
  align-items: stretch;
}

#header {
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

#left, #right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
  min-width: 0;
}

#parse {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#input {
  font-family: monospace;
}

#saved {
  resize: none;
}

#main, #input, #hex, #diag, #submit {
  flex: 1;
}

#hex, #diag {
  border: 1px solid red;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  overflow: auto;
}

#hex:before, #diag:before {
  background: white;
  margin-top: -30px;
  text-decoration: underline;
  color: pink;
}

#hex:before {
  content: 'Annotated Hex\A\A';
}

#diag:before {
  content: 'Diagnostic Notation\A\A';
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  border: 1px solid gray;
  padding: 3px;
  cursor: pointer;
}

input[type='radio'] + label:hover {
  background-color: #4c8dc050;
}

input[type='radio'] + label:first-of-type {
  border-radius: 5px 0 0 5px;
}

input[type='radio'] + label:last-of-type {
  border-radius: 0 5px 5px 0;
}

input[type='radio']:checked + label {
  color: #fff;
  background-color: #2c6da0;
}

button {
  padding: 5px 10px;
  margin: 0;
  display: inline;
  background-color: #2c6da0;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background: #3c7db0;
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
  padding: 6px 10px 4px;
}

#submit {
  margin-left: 5px;
}

.dark, .dark textarea {
  color: white;
  background-color: black;
  border-color: gray;
}

.dark #hex, .dark #diag {
  border-color: red;
}

.dark #hex:before, .dark #diag:before {
  background: black;
  color: green;
}

.dark input[type='radio'] + label {
  border-color: lightgray;
}

.dark input[type='radio'] + label:hover {
  background-color: #4c8dc050;
}

.dark input[type='radio']:checked + label {
  background-color: #2c6da0;
}

.dark button {
  background-color: #2c6da0;
}

.dark button:hover {
  background: #3c7db0;
}
