html {
  height: 100%
}

body {
  --color-background: white;
  --color-foreground: black;
  --color-title: pink;
  --color-inactive-option-hover: #4c8dc050;
  --color-button-foreground: white;
  --color-button-background: #2c6da0;
  --color-button-hover-background: #3c7db0;
  --color-link: blue;
  --color-border: gray;
  --color-output-border: red;
}

body.dark {
  --color-background: black;
  --color-foreground: white;
  --color-title: green;
  --color-inactive-option-hover: #4c8dc050;
  --color-button-foreground: white;
  --color-button-background: #2c6da0;
  --color-button-hover-background: #3c7db0;
  --color-link: yellow;
  --color-border: lightgray;
}

a {
  color: var(--color-link);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

#header, #main, #footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#main, #footer {
  align-items: stretch;
}

#header {
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

#left, #right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
  min-width: 0;
}

#parse {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#input {
  font-family: monospace;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

#main, #input, #hex, #diag, #submit {
  flex: 1;
  min-height: 0;
}

#hex, #diag {
  border: 1px solid var(--color-output-border);
  border-radius: 5px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  overflow: auto;
}

#hex:before, #diag:before {
  margin-top: -30px;
  text-decoration: underline;
  color: var(--color-title);
}

#hex:before {
  content: 'Annotated Hex\A\A';
}

#diag:before {
  content: 'Diagnostic Notation\A\A';
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  border: 1px solid var(--color-border);
  padding: 3px;
  cursor: pointer;
}

input[type='radio'] + label:hover {
  background-color: var(--color-inactive-option-hover);
}

input[type='radio'] + label:first-of-type {
  border-radius: 5px 0 0 5px;
}

input[type='radio'] + label:last-of-type {
  border-radius: 0 5px 5px 0;
}

input[type='radio']:checked + label {
  color: var(--color-button-foreground);
  background-color: var(--color-button-background);
}

button {
  padding: 5px 10px;
  margin: 0;
  display: inline;
  border: none;
  color: var(--color-button-foreground);
  background-color: var(--color-button-background);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background: var(--color-button-hover-background);
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
  padding: 6px 10px 4px;
}

#saved-container {
  padding: 5px 10px;
  margin: 0;
  display: inline;
}

#submit {
  margin-left: 5px;
}

#copy-button {
  padding: 0;
  margin: 0;
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

#copy-button:hover {
  filter: invert(20%);
}

#copy-button:active {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0;
  filter: invert(40%);
}
