html {
  height: 100%
}

body {
  --color-background: rgb(225, 225, 219);
  --color-foreground: rgb(38, 38, 37);
  --color-inactive-option-hover: rgb(194, 194, 188);
  --color-button-foreground: rgb(200, 201, 219);
  --color-button-background: rgb(59, 46, 42);
  --color-button-border: rgb(59, 46, 42);
  --color-button-hover: rgb(230, 159, 103);
  --color-link: rgb(43, 121, 162);
  --color-input-background: rgb(241, 241, 241);
  --color-output-background: rgb(194, 194, 188);
  --color-output-border: var(--color-button-border);
}

body.dark {
  --color-background: rgb(15, 20, 25);
  --color-foreground: rgb(197, 197, 197);
  --color-inactive-option-hover: rgb(37, 40, 50);
  --color-button-foreground: rgb(200, 201, 219);
  --color-button-background: rgb(20, 25, 31);
  --color-button-border: rgb(66, 76, 87);
  --color-button-hover: rgb(255, 180, 84);
  --color-link: rgb(0, 150, 207);
  --color-input-background: rgb(37, 40, 50);
  --color-output-background: rgb(25, 31, 38);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

#header, #main, #footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#main, #footer {
  align-items: stretch;
}

#header {
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

#left, #right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
  min-width: 0;
}

#parse {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#input {
  font-family: monospace;
  color: var(--color-foreground);
  background-color: var(--color-input-background);
  border: 1px solid var(--color-button-border);
  margin: 5px 0;
}

#main, #input, #hex, #diag, #submit {
  flex: 1;
  min-height: 0;
}

#hex, #diag {
  background-color: var(--color-output-background);
  border: 1px solid var(--color-output-border);
  border-radius: 5px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  overflow: auto;
}

#hex:before, #diag:before {
  margin-top: -30px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em;
}

#hex:before {
  content: 'Annotated Hex\A\A';
}

#diag:before {
  content: 'Diagnostic Notation\A\A';
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  border: 1px solid var(--color-button-border);
  padding: 3px;
  cursor: pointer;
}

input[type='radio'] + label:hover {
  background-color: var(--color-inactive-option-hover);
}

input[type='radio'] + label:first-of-type {
  border-radius: 5px 0 0 5px;
}

input[type='radio'] + label:last-of-type {
  border-radius: 0 5px 5px 0;
}

input[type='radio']:checked + label {
  color: var(--color-button-foreground);
  background-color: var(--color-button-background);
}

input[type='radio']:checked + label:hover {
  color: var(--color-button-hover);
}

button {
  padding: 5px 10px;
  margin: 0;
  display: inline;
  border: 1px solid var(--color-button-border);
  color: var(--color-button-foreground);
  background-color: var(--color-button-background);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  color: var(--color-button-hover);
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
  padding: 6px 10px 4px;
}

#saved-container {
  padding: 5px 10px;
  margin: 0;
  display: inline;
}

#submit {
  margin-left: 5px;
}

#copy-button {
  padding: 0;
  margin: 0;
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

#copy-button:hover {
  filter: invert(20%);
}

#copy-button:active {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0;
  filter: invert(40%);
}
