jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: hecrj/setup-rust-action@v2
      with:
        rust-version: stable
        targets: wasm32-unknown-unknown
    - run: npm ci
    - run: npm run build
    - uses: actions/upload-artifact@v6
      with:
        name: dist
        path: dist

on:
  workflow_call:
