jobs:
  build:
    uses: ./.github/workflows/build.yml

  upload:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v8
      with:
        name: dist
        path: _site
    - uses: actions/upload-pages-artifact@v4

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: upload
    permissions:
      pages: write
      id-token: write
    steps:
    - id: deployment
      uses: actions/deploy-pages@v4

on:
  push:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: pages
  cancel-in-progress: false
